* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #47317c;
    --subtext: #3f6389;
    --secondary: #007f4e;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* ========= Global Styles =========== */

body {
    background-color: white;
    font-family: Inter, Arial, sans-serif;
    line-height: 1.4;
    font-size: 1rem;
}

.global-padding {
    padding-left: 3rem;
    padding-right: 3rem;
}

.container {
    width: 100%;
    max-width: 71.25rem;
    margin-left: auto;
    margin-right: auto;
}

.global-para {
    font-size: 1.25rem;
    line-height: 1.5;
}

.prod-container {
    max-width: 100%;
    padding: 2rem 5rem;
}


/* ========= Global Styles =========== */

.header-wrapper {
    z-index: 10;
    position: absolute;
    inset: 0% 0% auto 0%;
}

.navbar {
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    display: flex
}

.nav-logo {
    width: 150px;
}

.hero-section {
    position: relative;
    overflow: clip;
}

.hero-container {
    min-height: 100vh;
    display: flex;
}

.pre-landing-container {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.hero-wrapper {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.half-hero-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.half-hero-bg-left {
    background-color: #e6f3f1;
    right: 50%;
}

.half-hero-bg-right {
    background-color: #fff;
    left: 50%;
}

.half-hero {
    z-index: 3;
    width: 50%;
    position: relative;
}

.left-hero-content {
    z-index: 2;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    position: relative;
}

.hero-heading {
    color: var(--primary-color);
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, Arial, sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.1;
}


.left-hero-content p {
    font-size: 18px;
    line-height: 1.5;
}

.left-hero-arrow {
    justify-content: center;
    align-items: center;
    width: 14rem;
    display: flex;
    position: absolute;
    top: 34%;
    right: -4rem;
}

.left-hero-arrow img {
    width: 100%;
    object-fit: contain;
}

.right-hero {
    z-index: 2;
    padding-top: 2rem;
    padding-left: 7.4375rem;
}

.right-hero-cta {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: .75rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem 1.5rem;
    display: flex;
}

.right-cta-para {
    font-size: 1.25rem;
    line-height: 1.5;
}

.right-cta-btn {
    background-color: white;
    color: var(--primary-color);
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    font-family: Gilroy, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    outline: none;
}

.right-cta-btn span {
    font-size: 1.5rem;
    line-height: 2rem;
}

.right-cta-svg {
    filter: invert();
    flex: none;
    justify-content: center;
    align-items: center;
    width: 1.85rem;
}

.right-hero-note {
    margin-top: 2rem;
    color: #adadad;
    font-size: .8125rem;
}

.studies-show {
    color: var(--primary-color);
}

/* ======= Product Page =========== */

.banner-wrapper {
    background-color: var(--primary-color);
    padding: 10px .87rem;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 5rem;
    position: relative;
}

.banner-text {
    font-family: Inter, Arial, sans-serif;
    font-size: .7rem;
    font-weight: 600;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    display: inline-block;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.product-page {
    position: relative;
}

.product-page-logo {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
}

.product-first-section {
    padding-top: 1rem;
}

.prod-container.product-page {
    padding-top: 1.7rem;
}

.weight-care-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.weight-care-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: .5rem;
}

.weight-care-header span {
    color: red;
    font-size: .75rem;
    font-weight: 600;
}

.weight-care-header h1 {
    color: var(--primary-color);
    font-family: Gilroy, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.wegovy-product-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: .8rem;
    margin-top: 2rem;
}

.first-product {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* max-width: 28rem; */
    width: 33.33%;
    box-sizing: border-box;
    flex-shrink: 1;
    border-radius: 1.62rem;
}

.wegovy-product {}

.mounjaro-product {}

.prod-card-image {
    width: 100%;
    height: 18.8rem;
    /* max-height: 25rem; */
    overflow: hidden;
    border-top-left-radius: 1.62em;
    border-top-right-radius: 1.62em;
}

.prod-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.product-content {
    border: 1px solid #0f3c6c1a;
    border-bottom-right-radius: 1.62em;
    border-bottom-left-radius: 1.62em;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1.94rem;
    overflow: hidden;
}

.product-content h3 {
    color: var(--primary-color);
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Gilroy, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.product-price-star {
    margin-top: 0.69em;
}

.product-price-star p {
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
}

.product-price-star div span:first-child {
    color: #007f4e;
    margin-right: .5em;
    font-weight: 600;
    font-size: 0.9rem;
}

.product-price-star div span:last-child {
    color: red;
    font-weight: 600;
    font-size: 1.1rem;
}

.divider {
    background-color: #cfd8e2;
    width: 100%;
    height: 1px;
    margin-top: 1.27rem;
    margin-bottom: 1.45rem;
}

.after-divider-text p {
    color: var(--subtext);
    margin-bottom: 1.16rem;
    font-size: 0.9rem;
}

.prod-benefits {}

.prod-benefits h3 {
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.prod-checklist {
    grid-column-gap: 1.04em;
    grid-row-gap: 1.04em;
    color: var(--subtext);
    flex-flow: column;
    margin-top: .69em;
    display: flex;
}

.benefit-item {
    display: flex;
    gap: .58em;
    justify-content: flex-start;
    align-items: center;
}

.benefit-icon {
    color: white;
    background-color: var(--secondary);
    border-radius: 100%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 1.15rem;
    height: 1.15rem;
    display: flex;
    padding: .11rem;
}

.benefit-text {
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9rem;
}

.prod-tabs-wrapper {
    display: flex;
    gap: .69em;
    flex-flow: wrap;
    margin-top: .23em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prod-tab {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: .8em;
    padding: .5em 1em;
    border: 1px solid #e6f3f1;
    border-radius: 1000px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-tab.active {
    background: var(--primary-color);
    color: #fff;
    border: none;
}

.prod-price-wrapper {
    margin-top: 0.69em;
    border-top: 1px solid #0f3c6c1a;
    padding-top: 1.16em;
}

.prod-price-wrapper h3 {
    font-family: Inter, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.5;
}

.prod-price-wrapper div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.prod-price-wrapper>div span:first-child {
    color: #007f4e;
    margin-right: .5em;
    font-weight: 600;
    font-size: 0.9rem;
}

.prod-price-wrapper>div span:last-child {
    color: red;
    font-weight: 600;
    font-size: 1.1rem;
}

.prod-btn {
    margin-top: 1em;
}

.prod-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
    padding: .98em 1.85em;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 1000px;
    font-family: Gilroy, Arial, sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.prod-btn button div {
    width: 1.3em;
    display: flex;
    color: currentColor;
}

.medication-cta {}

.medication-cta-text {
    display: flex;
    background-color: #eff5f5;
    border-radius: 1.62rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.39rem;
    padding: 1.85rem 2.6rem;
}

.medication-cta-text h3 {
    color: var(--primary-color);
    font-family: Gilroy, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.medication-cta-text p {
    text-align: right;
    font-size: .8rem;
    color: var(--subtext);
}

.medication-icons-container {
    display: grid;
    border: 1px #000;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin-top: 3em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.medication-icon-wrapper {
    grid-row-gap: 8px;
    color: var(--main-blue);
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.med-icon {
    font-size: 1.5rem;
    width: 2rem;
    color: var(--primary-color);
}

.med-icon svg {
    color: var(--primary-color);
}

.medication-icon-wrapper p {
    color: var(--primary-color);
    font-size: 0.7rem;
}

/* ============ GLP Sectio ========= */

.glp-hero {
    /* padding: 60px 20px; */
}

.glp-hero-inner {
    /* max-width: 1200px; */
    height: 40rem;
    margin: auto;
    background: #0f3a63;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* LEFT CONTENT */
.glp-hero-content {
    flex: 1;
    padding: 48px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.glp-hero-content h1 {
    font-size: 2.32rem;
    line-height: 1.2;
    margin-bottom: 16px;
}

.glp-hero-desc {
    font-size: 0.8rem;
    opacity: 0.9;
    margin-bottom: 24px;
    max-width: 480px;
}

.glp-hero-btn {
    background: #ffffff;
    color: #0f3a63;
    border: none;
    padding: 14px 26px;
    border-radius: 999px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 28px;
    outline: none;
}


.glp-hero-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.glp-hero-list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 14px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

/* SVG wrapper */
.glp-hero-list li>div {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #092441;
    border-radius: 50%;
}

/* SVG itself */
.glp-hero-list li svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #9be7ff;
}

/* RIGHT IMAGE */
.glp-hero-image {
    flex: 1;
    height: 100%;
}

.glp-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ======== Third Section ======== */

/* WRAPPER */
.eligibility-wrap {
    /* padding: 4rem 1.5rem; */
}

/* CARD */
.eligibility-card {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
    border-radius: 1.75rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* min-height: 24rem; */
    padding: 5.7rem;
    background-image: url("./assets/eligibility.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.eligibility-content {
    z-index: 222;
    color: white;
    padding: 1.11rem 0rem;
    max-width: 32rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.15rem;
}

.eligibility-title {
    font-size: 2.33rem;
    line-height: 1;
}

.eligibility-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #0f3a67;
    padding: 0.875rem 1.75rem;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
}

.eligibility-overlay {
    z-index: 2;
    background-image: linear-gradient(106deg, #0f3c6c 20%, #0f3c6c00 68%);
    position: absolute;
    inset: 0%;
}

/* ======== Faq's-Section ============= */
/* WRAPPER */
.faq-wrap {
    padding: 5rem 1.5rem;
}

/* LAYOUT */
.faq-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
}

.faq-intro {
    flex: 1;
}

/* LEFT */
.faq-title {
    font-size: 2.35rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 1.25rem;
    color: #0f172a;
}

.faq-help {
    font-size: 0.88rem;
    color: #475569;
}

.faq-link {
    color: #0f3c6c;
    font-weight: 600;
    text-decoration: underline;
}

/* RIGHT */
.faq-list {
    flex: 1;
    border-top: 0.0625rem solid #cbd5e1;
}

/* ITEM */
.faq-item {
    border-bottom: 0.0625rem solid #cbd5e1;
}

.faq-question {
    width: 100%;
    padding: 1.75rem 0;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.88rem;
    font-weight: 400;
    color: #0f172a;
    cursor: pointer;
}

.faq-icon {
    font-size: 1.5rem;
    color: #0f3c6c;
    line-height: 1;
}

/* ANSWER */
.faq-answer {
    display: none;
    padding-bottom: 1.75rem;
}

.faq-answer p {
    font-size: 0.88rem;
    font-weight: 400;
    color: #334155;
    line-height: 1.6;
}

/* OPEN STATE */
.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-icon {
    content: "−";
}

/* ======= Mayfar Footer ========= */

.mayfair-footer {
    background: #eef7f4;
    /* padding: clamp(3rem, 5vw, 6rem) 3rem; */
    font-family: system-ui, sans-serif;
}

.prod-container.mayfair-footer {
    padding: 5rem 5rem;
}

.mayfair-footer-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: clamp(2.5rem, 4vw, 4rem);
}

/* ===== TOP GRID ===== */
.mayfair-footer-grid {
    display: grid;
    grid-template-columns: minmax(18rem, 2fr) repeat(2, minmax(14rem, 1fr));
    gap: clamp(2rem, 4vw, 4rem);
}

/* ===== BRAND ===== */
.mayfair-footer-logo {
    max-width: 8rem;
    margin-bottom: 1.25rem;
}

.mayfair-footer-address,
.mayfair-footer-contact {
    font-size: clamp(0.95rem, 0.9vw, 1.05rem);
    line-height: 1.6;
    color: #334155;
}

.mayfair-footer-contact a {
    color: #0f3c6c;
    font-weight: 500;
    text-decoration: none;
}

.mayfair-footer-actions {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.mayfair-footer-btn {
    padding: 0.75rem 1.5rem;
    border-radius: 999rem;
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.mayfair-footer-btn.is-light {
    background: #ffffff;
    color: #0f3c6c;
}

.mayfair-footer-btn.is-dark {
    background: #0f3c6c;
    color: #ffffff;
}

/* ===== LINKS ===== */
.mayfair-footer-heading {
    font-size: clamp(1.05rem, 1vw, 1.15rem);
    font-weight: 700;
    margin-bottom: 1rem;
    color: #0f172a;
}

.mayfair-footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mayfair-footer-list li {
    margin-bottom: 0.6rem;
}

.mayfair-footer-list a {
    font-size: clamp(0.95rem, 0.9vw, 1.05rem);
    color: #334155;
    text-decoration: none;
}

.mayfair-footer-list a:hover {
    text-decoration: underline;
}

/* ===== DIVIDER ===== */
.mayfair-footer-divider {
    border: none;
    height: 0.0625rem;
    background: #cbd5e1;
}

/* ===== REGISTRATION ===== */
.mayfair-footer-reg {
    display: grid;
    grid-template-columns: repeat(3, minmax(14rem, 1fr));
    /* gap: clamp(1.5rem, 3vw, 3rem); */
    row-gap: 0.3rem;
    /* column-gap: 0.3rem; */
}

/* FULL WIDTH BLOCK */
.mayfair-footer-reg-block.is-full {
    grid-column: 1 / -1;
    max-width: 35rem;
    margin-bottom: 1rem;
}

/* HEADINGS */
.mayfair-footer-reg h5 {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--subtext);
}

/* TEXT */
.mayfair-footer-reg p {
    font-size: clamp(0.9rem, 0.85vw, 1rem);
    color: var(--subtext);
    line-height: 1.6;
}

/* ===== BOTTOM ===== */
.mayfair-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    font-size: 0.85rem;
    color: #64748b;
}

.mayfair-footer-copyright {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.mayfair-footer-copyright-images {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.mayfair-footer-copyright-images img {
    width: 5.15em;
}

.mayfair-footer-socials {
    display: flex;
    gap: 1rem;
}

.mayfair-footer-socials a {
    text-decoration: none;
    background-color: var(--primary-color);
    font-weight: 600;
    color: white;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0rem;
}

.mayfair-footer-socials a svg {
    width: 1.5rem;
    height: 1rem;
}

/* ======== Media Queries ======== */

@media (min-width: 1920px) {

    .nav-logo {
        width: 10rem;
    }

    .left-star img {
        width: 10rem;
    }

    .right-hero {
        padding-left: 5rem;
    }

    .left-hero-content p {
        font-size: 1.2rem;
    }

    .right-cta-para {
        font-size: 1.5rem;
    }

    .prod-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    /* Second page */

    .product-page-logo {
        width: 12rem;
    }

    .banner-text {
        font-size: 0.9rem;
    }

    .weight-care-header span {
        font-size: 1rem;
    }

    .wegovy-product-wrapper {
        gap: 1.5rem;
    }

    .weight-care-header h1 {
        font-size: 3rem;
    }

    .first-product {
        width: 30%;
    }

    .prod-card-image {
        height: 30rem;
    }

    .product-content {
        padding: 3.9rem;
    }

    .product-content h3 {
        font-size: 2rem;
    }

    .product-price-star p {
        font-size: 1.2rem;
    }

    .product-price-star div span:first-child {
        font-size: 1.2rem;
    }

    .product-price-star div span:last-child {
        font-size: 1.5rem;
    }

    .after-divider-text p {
        font-size: 1.2rem;
    }

    .prod-benefits h3 {
        font-size: 1.5rem;
    }

    .benefit-icon {
        width: 1rem;
        height: 1rem;
    }

    .benefit-text {
        font-size: 1.2rem;
    }

    .prod-tab {
        font-size: 1.11rem;
    }

    .prod-btn button {
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }

    .medication-cta-text h3 {
        font-size: 2.21rem;
    }

    .medication-cta-text p {
        font-size: 1.1rem;
    }

    .med-icon {
        width: 1.5rem;
    }

    .medication-icon-wrapper p {
        font-size: 1.2rem;
    }

    .glp-hero-content {
        padding: 55px;
    }

    .glp-hero-inner {
        height: 55rem;
    }

    .glp-hero-desc {
        font-size: 1.1rem;
    }

    .glp-hero-content h1 {
        font-size: 3.21rem;
    }

    .glp-hero-list li {
        font-size: 1.1rem;
    }

    .glp-hero-list li>div {
        width: 45px;
        height: 45px;
    }

    .glp-hero-list li svg {
        height: 1.1rem;
        width: 1.1rem;
    }

    .trustpilot-header img {
        width: 15rem;
    }

    .trustpilot-header h2 {
        font-size: 3rem;
    }

    .trustpilot-carousel {
        max-width: 100%;
    }

    .arrow {
        width: 3.5rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .stars-sm {
        width: 9rem;
    }

    .review-card h3 {
        font-size: 1.8rem;
    }

    .review-card p {
        font-size: 1.2rem;
    }

    .eligibility-card {
        max-width: 100%;
        min-height: 52rem;
    }

    .eligibility-content {
        padding: 0rem 0rem;
        margin-left: 5rem;
        max-width: 52rem;
        gap: 1.5rem;
    }

    .eligibility-title {
        font-size: 3.21rem;
    }

    .eligibility-subtitle {
        font-size: 1.2rem;
    }

    .eligibility-btn {
        font-size: 1.1rem;
    }

    .faq-title {
        font-size: 3.21rem;
    }

    .faq-question {
        font-size: 2rem;
        font-size: 1.2rem;
        text-align: left;
    }

    .faq-answer p {
        font-size: 1.1rem;
        text-align: left;
    }

    .faq-help {
        font-size: 1.1rem;
    }

    /* Footer */
    .prod-container.mayfair-footer {
        padding: 10rem 10rem;
    }

    .mayfair-footer-logo {
        max-width: 10rem;
    }

    .mayfair-footer-address {
        font-size: 1.1rem;
    }

    .mayfair-footer-reg h5 {
        font-size: 1.4rem;
    }

    .mayfair-footer-reg p {
        font-size: 1.1rem;
    }

    .mayfair-footer-heading {
        font-size: 1.4rem;
    }

    .mayfair-footer-list a {
        font-size: 1.1rem;
    }

    .mayfair-footer-copyright-images img {
        width: 5rem;
    }

    .mayfair-footer-copyright p {
        font-size: 1.1rem;
        color: var(--subtext);
    }

    .mayfair-footer-socials a {
        padding: 0.5rem 0.5rem;
    }

    .mayfair-footer-socials a svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .mayfair-footer-btn {
        padding: 1rem 1rem;
        font-size: 1.1rem;
    }
}

@media (min-width: 1440px) {
    .prod-container {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .banner-text {
        font-size: 0.9rem;
    }

    .wegovy-product-wrapper {
        gap: 1.5rem;
    }

    .first-product {
        width: 34rem;
    }

    .prod-card-image {
        height: 25.5rem;
    }

    .product-content {
        padding: 2.6rem;
    }

    .product-content h3 {
        font-size: 2.1rem;
    }

    .product-price-star p {
        font-size: 1.15rem;
    }

    .product-price-star div span:first-child {
        font-size: 1.15rem;
    }

    .product-price-star div span:last-child {
        font-size: 1.4rem;
    }

    .after-divider-text p {
        font-size: 1.12rem;
    }

    .prod-benefits h3 {
        font-size: 1.15rem;
    }

    .benefit-text {
        font-size: 1.15rem;
    }

    .prod-tab {
        font-size: 1rem;
    }

    .prod-btn button {
        padding: 1rem 1.85em;
        font-size: 1rem;
    }

    .prod-price-wrapper h3 {
        font-size: 1.15rem;
    }

    .prod-price-wrapper>div span:first-child {
        font-size: 1.15rem;
    }

    .prod-price-wrapper>div span:last-child {
        font-size: 1.4rem;
    }

    .medication-cta-text h3 {
        font-size: 2.1rem;
    }

    .medication-cta-text p {
        font-size: 1rem;
    }

    .med-icon {
        width: 1.6rem;
    }

    .medication-icon-wrapper p {
        font-size: 0.9rem;
    }

    .glp-hero-content h1 {
        font-size: 3.2rem;
    }

    .glp-hero-image {
        flex: 1.3;
    }

    .glp-hero-inner {
        height: 43.8rem;
    }

    .glp-hero-desc {
        font-size: 1rem;
    }

    .glp-hero-list li {
        font-size: 1rem;
    }

    .glp-hero-list li>div {
        width: 37px;
        height: 37px;
    }

    .glp-hero-list li svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    /* GPL Section */
    .eligibility-card {
        max-width: 100%;
        min-height: 35rem;
    }

    .faq-title {
        font-size: 3.2rem;
    }

    .faq-question {
        font-size: 1.12rem;
        text-align: left;
    }

    .faq-answer {
        font-size: 1.12rem;
    }

    .faq-help {
        font-size: 1.1rem;
    }

    .eligibility-title {
        font-size: 3.2rem;
    }

    .eligibility-subtitle {
        font-size: 1.12rem;
    }

    /* Footer */
    .prod-container.mayfair-footer {
        padding: 8rem 8rem;
    }

    .mayfair-footer-logo {
        max-width: 10rem;
    }

    .mayfair-footer-reg h5 {
        font-size: 1.4rem;
    }

    .mayfair-footer-reg p {
        font-size: 1.12rem;
    }

    .mayfair-footer-heading {
        font-size: 1.4rem;
    }

    .mayfair-footer-list a {
        font-size: 1.12rem;
    }

    .mayfair-footer-copyright-images img {
        width: 5rem;
    }

    .mayfair-footer-copyright p {
        font-size: 1.12rem;
        color: var(--subtext);
    }

    .mayfair-footer-socials a {
        padding: 0.6rem 0.6rem;
    }

    .mayfair-footer-socials a svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .prod-container {
        padding: 2rem 1.65rem;
    }

    .global-padding {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .navbar {
        padding-left: 5.8125rem;
    }

    .hero-wrapper {
        flex-flow: column;
        justify-content: flex-start;
        align-items: center
    }

    .hero-heading {
        font-size: 3rem;
    }

    .half-hero {
        width: 100%;
        max-width: 782px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5.8125rem;
        padding-right: 5.8125rem;
    }

    .left-hero {
        background-color: #e6f3f1;
        max-width: none;
        padding: 6.75rem 0 2rem;
    }

    .left-hero-content {
        max-width: 782px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        padding-left: 5.81rem;
        padding-right: 5.81rem;
    }

    .left-hero-arrow {
        right: 0px;
        bottom: -250px;
    }

    .left-hero-arrow img {
        transform: rotateY(-180deg)rotate(26deg);
    }

    .right-hero {
        padding-top: 4.5rem;
        padding-bottom: 6rem;
        padding-left: 5.8125rem;
    }

    .right-hero-cta {
        width: 100%;
        padding: 2rem 2.5rem;
    }

    .right-cta-btn {
        width: 24rem;
    }

    .half-hero-bg {
        display: none;
    }

    /* Second Page */
    .first-product {
        width: 100%;
    }

    .prod-card-image {
        height: 18rem;
    }

    .eligibility-card {
        padding: 4.5rem;
    }

    /* Footer */

    .mayfair-footer-grid {
        grid-template-columns: auto auto;
    }

    .prod-container.mayfair-footer {
        padding: 5rem 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }

    .prod-container {
        padding: 2rem 2.5rem;
    }

    .first-product {
        width: 100%;
        margin-bottom: 2rem;
    }

    .prod-card-image {
        height: 15rem;
    }

    .product-content {
        padding: 1.5rem;
    }

    /* ===== GLP Section ===== */
    .glp-hero-inner {
        flex-direction: column;
        height: auto;
    }

    .glp-hero-content {
        padding: 32px 24px;
    }

    /* Eligibility Section */
    .eligibility-card {
        grid-template-columns: 1fr;
        padding: 0;
        min-height: auto;
        background-image: none;
        /* kill bg image */
    }

    /* Mobile image block */
    .eligibility-card::before {
        content: "";
        display: block;
        width: 100%;
        height: 18rem;
        background-image: url("./assets/eligibility.png");
        background-size: cover;
        background-position: right;
    }

    .eligibility-overlay {
        display: none;
        /* no overlay needed on mobile */
    }

    .eligibility-content {
        order: 2;
        background: #0f3c6c;
        padding: 2.5rem 1.75rem 3rem;
        margin-left: 0;
        max-width: 100%;
        color: #fff;
    }

    .eligibility-overlay {
        display: none;
    }

    .eligibility-title {
        font-size: 2rem;
        line-height: 1.2;
    }

    .eligibility-subtitle {
        font-size: 0.95rem;
        line-height: 1.55;
    }

    .eligibility-btn {
        margin-top: 0.75rem;
    }

    /* ====== Faq Section ====== */
    .faq-container {
        flex-direction: column;
        gap: 3rem;
    }

    .faq-title {
        font-size: 2.25rem;
    }

    /* Footer */
    .mayfair-footer-grid {
        grid-template-columns: auto;
    }

    .mayfair-footer-reg {
        grid-template-columns: auto;
    }

}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }

    /* First Page */
    .nav-logo {
        width: 10rem;
    }

    .hero-heading {
        font-size: 1.8rem;
    }

    .left-hero {
        padding: 8rem 0 2rem;
    }

    .left-hero-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .left-hero-content p {
        font-size: 1rem;
    }

    .right-hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .right-cta-para {
        font-size: 1rem;
    }

    .right-cta-btn {
        width: 100%;
    }

    .right-cta-btn span {
        font-size: 1rem;
    }

    .right-cta-svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    /* First page code above */
    .prod-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .banner-text {
        font-size: 0.9rem;
    }

    .weight-care-header span {
        font-size: 1rem;
    }

    .prod-card-image {
        height: 17rem;
    }

    .product-content {
        padding: 1.5rem;
    }

    .weight-care-header h1 {
        font-size: 1.8rem;
    }

    .product-content h3 {
        font-size: 1.43rem;
    }

    .prod-benefits h3 {
        font-size: 0.9rem;
    }

    .benefit-text {
        font-size: 0.95rem;
    }

    .prod-price-wrapper h3 {
        font-size: 0.95rem;
    }

    .wegovy-product-wrapper {
        flex-direction: column;
        gap: .8rem;
        margin-top: 2rem;
    }

    .medication-cta-text {
        flex-direction: column;
        gap: 1rem;
        text-align: start;
        align-items: start;
        padding: 1rem 1rem;
    }

    .medication-cta-text h3 {
        font-size: 1.45rem;
    }

    .medication-cta-text p {
        text-align: left;
    }

    .glp-hero {
        padding: 0px;
    }

    .glp-hero-inner {
        border-radius: 0px;
    }

    .glp-hero-content h1 {
        font-size: 1.5rem;
    }

    .glp-hero-desc {
        font-size: 0.9rem;
    }

    /* Trust section */
    .trustpilot-header img {
        width: 8rem;
    }

    .trustpilot-header h2 {
        font-size: 1.5rem;
    }

    .arrow {
        width: 12rem;
    }

    .review-card {
        padding: 1rem;
    }

    /* elgibility section */
    .prod-container.eligibility-wrap {
        padding: 20px 20px;
    }

    .eligibility-card {
        overflow: hidden;
        display: grid;
        padding: 0;
    }

    .eligibility-title {
        font-size: 1.5rem;
    }

    /* Faq Section */
    .faq-container {
        align-items: start;
        padding: auto;
        margin: 0px;
        align-items: stretch;
        max-width: 100%;
    }

    .faq-question {
        text-align: left;
    }

    .faq-title {
        font-size: 1.55rem;
    }

    /* Footer */
    .mayfair-footer-grid {
        grid-template-columns: auto;
    }

    .mayfair-footer-reg {
        grid-template-columns: auto;
        gap: 1.5rem;
    }

    .mayfair-footer-bottom {
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }

    .prod-container.mayfair-footer {
        padding: 5rem 20px;
    }
}